<style>
    .uani_ibr_settings .data {
        border: 5px dashed #ededed;
        padding: 15px;
        width: 90%;
        display: block;
        margin: 15px auto 15px;
    }
    .uani_ibr_settings .data h1 {
        padding-bottom: 5px;
        margin-bottom: 5px;
        border-bottom: 3px solid #ededed;
    }
    .show_hide {
        cursor: pointer;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        (function ($, Drupal) {
            $.fn.uani_ibr_table_collapsible = function(max_elements) {
                $tr = $(this).find("tr");
                var elements_count = parseInt($tr.length) - 1;
                var show_hide_more = "<a class='show_hide content-hidden'><span>" + Drupal.t("Show") + "</span> ("+ elements_count +") " + Drupal.t("files") + "</a>";
                if (elements_count > max_elements) {
                    if (!sessionStorage.getItem('showFiles')) {
                        $tr.each(function (index) {
                            $(this).hide();
                        });
                    }
                    else {
                        show_hide_more = "<a class='show_hide content-visible'>" + Drupal.t("Hide list")+ "</span></a>";
                    }
                    $(this).parent().find("h2").after(show_hide_more);
                    $(this).parent().find(".show_hide").on("click", function () {
                        if ($(this).hasClass("content-hidden")) {
                            $(this).text(Drupal.t("Hide list"));
                            $(this).removeClass("content-hidden");
                            $(this).addClass("content-visible");
                            $(this).parent().find("tr").show();
                            sessionStorage.setItem('showFiles', '1');

                        }
                        else {
                            $(this).html("<span>" + Drupal.t("Show") + "</span> (" + elements_count + ") " + Drupal.t("files"));
                            $(this).addClass("content-hidden");
                            $(this).removeClass("content-visible");
                            $(this).parent().find("tr").hide();
                            sessionStorage.removeItem('showFiles');
                        }
                    });
                }
            };

            $(".uani_ibr_settings .images.data .list table").uani_ibr_table_collapsible(10);
            $(".uani_ibr_settings .lightbox.data .list table").uani_ibr_table_collapsible(20);
            $(".uani_ibr_settings .graph.data .list table").uani_ibr_table_collapsible(20);
        })(jQuery, Drupal);
    })
</script>
<div class="uani_ibr_settings">

    <div class="images data">
        <h1>{{ "Images section"|t }}</h1>
        <div class="upload">
            <h2>{{ "Upload new"|t }}</h2>
            {{ templates.images.upload }}
        </div>
        <div class="list">
            {% include 'uani-ibr-admin-settings-data-list.html.twig' with {'list': data.images.list, 'images': true} %}
        </div>
    </div>

    <div class="lightbox data">
        <h1>{{ "Lightbox data section"|t }}</h1>
        <div class="upload">
            <h2>{{ "Upload new"|t }}</h2>
            {{ templates.lightbox.upload }}
        </div>
        <div class="list">
            {% include 'uani-ibr-admin-settings-data-list.html.twig' with {'list': data.lightbox.list} %}
        </div>
    </div>

    <div class="graph data">
        <h1>{{ "Graph data section"|t }}</h1>
        <div class="upload">
            <h2>{{ "Upload new"|t }}</h2>
            {{ templates.graph.upload }}
        </div>
        <div class="list">
            {% include 'uani-ibr-admin-settings-data-list.html.twig' with {'list': data.graph.list} %}
        </div>
    </div>

</div>